
.post_container{
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
    column-count: 3;
    column-gap: 1%;
    max-width: 1024px;
}
.post_block{
   /* width: 30%;
   border: 1px solid;
   margin: 1%;
   height: max-content;
   align-self: self-start; */
   padding: 2% 0;
   break-inside: avoid;
}

.post_wrapper{
    border: 2px solid darkgrey ;
    border-radius: 4px;
}

.icon{
    width: 100%;
}

.profilePic{
    width: 50px;
    height: 50px;
    display: flex;
    overflow: hidden;
    border-radius: 50%;
    margin: 2%;
}

.profile_pic__icon{
    width: 100%;
}

.description{
    padding: 5%;
}